fastapi
uvicorn
websockets
sqlalchemy
psycopg2-binary
pydantic
pydantic-settings
python-dotenv
alembic
passlib
python-jose
bcrypt
python-multipart
geoalchemy2
earthengine-api
apscheduler
httpx
geopandas
shapely
fiona
cryptography
